// Settings and variables
@import "settings";

// Libraries
@import "~normalize.scss/normalize.scss";

// Mixins
@import "mixins/mq";
@import "mixins/rem";
@import "mixins/clearfix";
@import "mixins/hide-text";
@import "mixins/black-or-white";

// Grid
@import "partials/grid";

// Print
@import "partials/print";

// Basics
html {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}
body { margin: 0; }

// Text selection
::selection {
    background: $primary-color;
    color: black-or-white($primary-color, 65);
}
::-moz-selection {
    background: $primary-color;
    color: black-or-white($primary-color, 65);
}