/*
 *  Image replacement alternative to `text-indent: -9999px`
 *  http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */

@mixin hide-text() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}